In [28]:
import pandas as pd
from datetime import datetime

In [29]:
today= datetime.today()
print(today)

2021-10-07 13:31:39.451461

In [5]:
#today = '20211007'
today = pd.to_datetime(today)
ts_arr = pd.date_range(start=today,
                      end='2021-10-27',
                      freq='D')
print(ts_arr)

DatetimeIndex(['2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10',
               '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14',
               '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-23', '2021-10-24', '2021-10-25', '2021-10-26',
               '2021-10-27'],
              dtype='datetime64[ns]', freq='D')

In [6]:
ts_arr2 = pd.date_range(start=today,
                      periods=61,
                      freq='D')
print(ts_arr2)

DatetimeIndex(['2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10',
               '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14',
               '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-23', '2021-10-24', '2021-10-25', '2021-10-26',
               '2021-10-27', '2021-10-28', '2021-10-29', '2021-10-30',
               '2021-10-31', '2021-11-01', '2021-11-02', '2021-11-03',
               '2021-11-04', '2021-11-05', '2021-11-06', '2021-11-07',
               '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-11',
               '2021-11-12', '2021-11-13', '2021-11-14', '2021-11-15',
               '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19',
               '2021-11-20', '2021-11-21', '2021-11-22', '2021-11-23',
               '2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27',
               '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01',
               '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05',
               '2021-12-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
ts_arr3 = pd.date_range(start='2021-01-01',
                      end='2021-12-31',
                      freq='M')
print(ts_arr3)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

In [8]:
ts_arr4 = pd.date_range(start='2021-01-01',
                      end='2021-12-31',
                      freq='MS')
print(ts_arr4)

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [18]:
ts_arr5 = pd.date_range(start='2021-10-07',
                      end='2021-10-10 23:59:59',
                      freq='1H')
print(ts_arr5)

DatetimeIndex(['2021-10-07 00:00:00', '2021-10-07 01:00:00',
               '2021-10-07 02:00:00', '2021-10-07 03:00:00',
               '2021-10-07 04:00:00', '2021-10-07 05:00:00',
               '2021-10-07 06:00:00', '2021-10-07 07:00:00',
               '2021-10-07 08:00:00', '2021-10-07 09:00:00',
               '2021-10-07 10:00:00', '2021-10-07 11:00:00',
               '2021-10-07 12:00:00', '2021-10-07 13:00:00',
               '2021-10-07 14:00:00', '2021-10-07 15:00:00',
               '2021-10-07 16:00:00', '2021-10-07 17:00:00',
               '2021-10-07 18:00:00', '2021-10-07 19:00:00',
               '2021-10-07 20:00:00', '2021-10-07 21:00:00',
               '2021-10-07 22:00:00', '2021-10-07 23:00:00',
               '2021-10-08 00:00:00', '2021-10-08 01:00:00',
               '2021-10-08 02:00:00', '2021-10-08 03:00:00',
               '2021-10-08 04:00:00', '2021-10-08 05:00:00',
               '2021-10-08 06:00:00', '2021-10-08 07:00:00',
               '2021-10-08 08:00:00', '2021-10-08 09:00:00',
               '2021-10-08 10:00:00', '2021-10-08 11:00:00',
               '2021-10-08 12:00:00', '2021-10-08 13:00:00',
               '2021-10-08 14:00:00', '2021-10-08 15:00:00',
               '2021-10-08 16:00:00', '2021-10-08 17:00:00',
               '2021-10-08 18:00:00', '2021-10-08 19:00:00',
               '2021-10-08 20:00:00', '2021-10-08 21:00:00',
               '2021-10-08 22:00:00', '2021-10-08 23:00:00',
               '2021-10-09 00:00:00', '2021-10-09 01:00:00',
               '2021-10-09 02:00:00', '2021-10-09 03:00:00',
               '2021-10-09 04:00:00', '2021-10-09 05:00:00',
               '2021-10-09 06:00:00', '2021-10-09 07:00:00',
               '2021-10-09 08:00:00', '2021-10-09 09:00:00',
               '2021-10-09 10:00:00', '2021-10-09 11:00:00',
               '2021-10-09 12:00:00', '2021-10-09 13:00:00',
               '2021-10-09 14:00:00', '2021-10-09 15:00:00',
               '2021-10-09 16:00:00', '2021-10-09 17:00:00',
               '2021-10-09 18:00:00', '2021-10-09 19:00:00',
               '2021-10-09 20:00:00', '2021-10-09 21:00:00',
               '2021-10-09 22:00:00', '2021-10-09 23:00:00',
               '2021-10-10 00:00:00', '2021-10-10 01:00:00',
               '2021-10-10 02:00:00', '2021-10-10 03:00:00',
               '2021-10-10 04:00:00', '2021-10-10 05:00:00',
               '2021-10-10 06:00:00', '2021-10-10 07:00:00',
               '2021-10-10 08:00:00', '2021-10-10 09:00:00',
               '2021-10-10 10:00:00', '2021-10-10 11:00:00',
               '2021-10-10 12:00:00', '2021-10-10 13:00:00',
               '2021-10-10 14:00:00', '2021-10-10 15:00:00',
               '2021-10-10 16:00:00', '2021-10-10 17:00:00',
               '2021-10-10 18:00:00', '2021-10-10 19:00:00',
               '2021-10-10 20:00:00', '2021-10-10 21:00:00',
               '2021-10-10 22:00:00', '2021-10-10 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [17]:
ts_arr6 = pd.date_range(start='2021-10-06',
                      end='2021-10-27 18:00:00',
                      freq='3H')
print(ts_arr6)

DatetimeIndex(['2021-10-06 00:00:00', '2021-10-06 03:00:00',
               '2021-10-06 06:00:00', '2021-10-06 09:00:00',
               '2021-10-06 12:00:00', '2021-10-06 15:00:00',
               '2021-10-06 18:00:00', '2021-10-06 21:00:00',
               '2021-10-07 00:00:00', '2021-10-07 03:00:00',
               ...
               '2021-10-26 15:00:00', '2021-10-26 18:00:00',
               '2021-10-26 21:00:00', '2021-10-27 00:00:00',
               '2021-10-27 03:00:00', '2021-10-27 06:00:00',
               '2021-10-27 09:00:00', '2021-10-27 12:00:00',
               '2021-10-27 15:00:00', '2021-10-27 18:00:00'],
              dtype='datetime64[ns]', length=175, freq='3H')

In [19]:
ts_arr7 = pd.date_range(start='2021-01-01',
                      periods=8,
                      freq='2M')
print(ts_arr7)

DatetimeIndex(['2021-01-31', '2021-03-31', '2021-05-31', '2021-07-31',
               '2021-09-30', '2021-11-30', '2022-01-31', '2022-03-31'],
              dtype='datetime64[ns]', freq='2M')

In [25]:
df = pd.read_csv('../data/product_click.log', sep=' ',header=None, dtype='str')
df.rename(columns={0:'oldclicktime',1:'clickpid'}, inplace=True)
df['oldclicktime']= df['oldclicktime'].map(str)
df['newclicktime'] = pd.to_datetime(df['oldclicktime'])

print(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   oldclicktime  746 non-null    object
 1   clickpid      746 non-null    object
 2   newclicktime  746 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 17.6+ KB
None

   oldclicktime clickpid        newclicktime
0  201612120944     p001 2016-12-12 09:44:00
1  201612120944     p003 2016-12-12 09:44:00
2  201612120944     p003 2016-12-12 09:44:00
3  201612120945     p008 2016-12-12 09:45:00
4  201612121052     p008 2016-12-12 10:52:00

In [27]:
df['year'] = df['newclicktime'].dt.year
df['month'] = df['newclicktime'].dt.month
df['day'] = df['newclicktime'].dt.day
df['hour'] = df['newclicktime'].dt.hour
df['minute'] = df['newclicktime'].dt.minute

print(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   oldclicktime  746 non-null    object
 1   clickpid      746 non-null    object
 2   newclicktime  746 non-null    datetime64[ns]
 3   year          746 non-null    int64
 4   month         746 non-null    int64
 5   day           746 non-null    int64
 6   hour          746 non-null    int64
 7   minute        746 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 46.8+ KB
None

   oldclicktime clickpid        newclicktime  year  month  day  hour  minute
0  201612120944     p001 2016-12-12 09:44:00  2016     12   12     9      44
1  201612120944     p003 2016-12-12 09:44:00  2016     12   12     9      44
2  201612120944     p003 2016-12-12 09:44:00  2016     12   12     9      44
3  201612120945     p008 2016-12-12 09:45:00  2016     12   12     9      45
4  201612121052     p008 2016-12-12 10:52:00  2016     12   12    10      52